@charset "UTF-8";
html, body, h1, h2, h3, h4, h5, h6, section, header, aside, footer, nav,
article, figure,fieldset, p, ul, ol, li, dl, dt, dd, form {
    margin: 0;padding: 0;
    }

body {
    font: .8em Arial, sans-serif;
}

html {
    background: #ddd
}

.mission_a h1 a {
    text-decoration: none;
}

.mission_a h1 a:hover::after {
    content:'HTML5! CSS3! 실습입니다';
    font: .7em Helvetica sans-serif;
    color: red;

    position:absolute;
    /* ::before을 줘도 포지션이 absolute이기에 ::after 때와 위치가 동일하다. */
    /* body를 기준으로 위치를 잡는다.(부모중에 relative가 아무도 없다.) */
    display: block;
    margin-left: 120px;
    top: 0;
    padding: 10px;
    background: #222;
    border: 1px solid #555;

    /* vender-prefix 설정이 우선 적용되고 없으면 default가 적용된다. */
    /* 브라우저마다 설정을 모두 다르게해도 된다. */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px; /* 없어도 된다. */
    -ms-border-radius: 8px; /* 없어도 된다. */
    -o-border-radius: 8px; /* 없어도 된다. */
    border-radius: 8px; /* 기본값(default)는 꼭 줘야한다. */

    -webkit-box-shadow: #ddd 0 0 10px, #ccc 0 0px 5px inset;
    -moz-box-shadow: rgb(184, 184, 184) 0 0 10px, #ccc 0 0px 5px inset; /* 없어도 된다. */
    -ms-box-shadow: #ddd 0 0 10px, #ccc 0 0px 5px inset; /* 없어도 된다. */
    -o-box-shadow: #ddd 0 0 10px, #ccc 0 0px 5px inset; /* 없어도 된다. */
    box-shadow: #ddd 0 0 10px, #ccc 0 0px 5px inset; /* 없어도 된다. */
}

.mission_b {
    position: relative;
    top: 10px; left: 10px;
    border: 1px solid #ccc;
    width: 70px; height: 70px;
}

.mission_b img {
    opacity : .3;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -ms-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
    width: 70px; height: 70px;
}

/* 이미지의 기존 투명도를 0.3으로 설정하고, hover시 0.9로 transition처리 */
.mission_b img:hover{
    opacity: .9
}

.mission_c ul {
    position: relative;
    top: 10px;
    left: 10px;
}

.mission_c li {
    list-style: none;
}

.mission_c li a {
    color: #000;
    font-size: 2em;
    font-weight: normal;
    display: block;
    height: 50px;
    margin: 10px 0;
    padding: 10px;
    text-decoration: none;

    width: 200px;
    -webkit-text-shadow: rgba(255,255,255, .5) 1px 1px 2px;
    -moz-text-shadow: rgba(255,255,255, .5) 1px 1px 2px;
    -ms-text-shadow: rgba(255,255,255, .5) 1px 1px 2px;
    -o-text-shadow: rgba(255,255,255, .5) 1px 1px 2px;
    text-shadow: rgba(255,255,255, .5) 1px 1px 2px;
}

.mission_c li a:hover {
    color: #FFFF00;
}

/* a 태그에 hover시 border 둥글림 처리를 위한 속성 및 transition 관련 속성 추가 */
.mission_c li a:hover {
    text-shadow: rgba(0,0,0, .7) 1px 1px 1px;
    width: 230px;
    transition: width .3s ease-out;

    -webkit-box-shadow: rgba(0,0,0, .3) 3px 3px 5px;
    -moz-box-shadow: rgba(0,0,0, .3) 3px 3px 5px;
    -ms-box-shadow: rgba(0,0,0, .3) 3px 3px 5px;
    -o-box-shadow: rgba(0,0,0, .3) 3px 3px 5px;
    box-shadow: rgba(0,0,0, .3) 3px 3px 5px;

    -webkit-transition: width .3s ease-out;
    -moz-transition: width .3s ease-out;
    -ms-transition: width .3s ease-out;
    -o-transition: width .3s ease-out;
}

.mission_c li.ab a:hover {background:rgba(153,0,204, .1);}
.mission_c li.ac a:hover {background:rgba(153,0,204, .2);}
.mission_c li.ad a:hover {background:rgba(153,0,204, .3);}
.mission_c li.ae a:hover {background:rgba(153,0,204, .4);}
.mission_c li.af a:hover {background:rgba(153,0,204, .5);}
.mission_c li.ag a:hover {background:rgba(153,0,204, .6);}

/* 공통 속성 공통 속성 공통 속성 공통 속성 공통 속성 공통 속성 공통 속성 공통 속성 공통 속성 공통 속성 공통 속성 공통 속성 공통 속성 공통 속성 공통 속성 공통 속성 */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}





























