@import url("../CSS/bootstrap.css");

/* 공통 설정 */
* { margin: 0; padding: 0; }
body { 
    font-family: 'Times New Roman', Times, serif;
    
    }
a { text-decoration: none; }
ul, li { list-style: none; }
img { border: 0; }

textarea {
    color: royalblue;
}

input {
    color: red;
}








